.app-body.body {
    padding-left: 1rem !important;
    padding-top: 0 !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
}

.header {
    text-align: center;
    padding: 1.5rem 0;
}

.table-container {
    padding: 0 1rem;

    table {
        width: 100%;
        border: 1px solid grey;
        border-bottom: 1.05px solid grey;
        margin-bottom: 20px;

        .wrap-text {
            white-space: break-spaces;
        }

        .bg-tr {
            background: beige;
        }

        .nowrap {
            white-space: nowrap;
        }
    }

    .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
    }

    .mat-mdc-row:hover .mat-mdc-cell {
        border-color: currentColor;
    }

    .demo-row-is-clicked {
        font-weight: bold;
    }

    th.mat-sort-header-sorted {
        color: black;
    }
}

.action-add {
    background: royalblue;
    border: 1px solid royalblue;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 8rem;
    cursor: pointer;
    overflow: auto;
    float: right;

    .btn-add {
        color: white;
        background-color: transparent;
        border: none;
        padding-left: 8px;
        padding-top: 5px;

        .fa-plus {
            color: #fff;
            font-size: 24px;
        }

        .pad-label {
            margin-left: 5px;
            position: absolute;
        }
    }
}