<div class="bg-white">
  <h2 class="header">{{'ORDER.TITLE_LIST' | translate}}</h2>
  <form
    class="action-search shadow appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    [formGroup]="searchForm">
    <div class="row">
      <span class="col-3" for="id">{{'ORDER.SEARCH_ID' | translate}}</span>
      <input matInput
        class="col-3 appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="id" type="text" maxlength="20" formControlName="id" />

      <span class="col-3 px-4" for="agency">{{'ORDER.AGENCY' | translate}}</span>
      <input matInput
        class="col-3 appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="agency" type="text" maxlength="50" formControlName="agency" />
    </div>

    <div class="row">
      <span class="col-3" for="createdDate">{{'ORDER.CREATEDDATE' | translate}}</span>
      <input matInput
        class="col-3 appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="createdDate" type="text" maxlength="20" formControlName="createdDate" />

        <span class="col-3 px-4" for="receivedDate">{{'ORDER.SEARCH_RECEIVEDDATE' | translate}}</span>
        <input matInput
          class="col-3 appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="receivedDate" type="text" maxlength="20" formControlName="receivedDate" />
    </div>

    <div class="row">
      <span class="col-3" for="status">{{'ORDER.STATUS' | translate}}</span>
      <select class="col-9 form-select" formControlName="status">
        <option value="">-----</option>
        <option value="{{item.value}}" *ngFor="let item of status">{{item.label}}</option>
      </select>
    </div>
    <div class="action">
      <button type="submit" class="btn-search" (click)="onSearch(searchForm.value)">
        <mat-icon aria-hidden="false" aria-label="Search icon" fontSet="fas" fontIcon="fa-magnifying-glass"
          class="fa-search"></mat-icon>
        <label>{{'BUTTON.SEARCH' | translate}}</label>
      </button>
    </div>
  </form>
  <!-- <div class="search-group input-group">
    <form>
      <div class="row">
        <label class="col-2 form-label" for="form1">Search</label>
        <input matInput class="col-2 form-control" type="search" id="form1" />
      </div>
    </form>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div> -->
  <div class="action-add">
    <button class="btn-add" (click)="onEdit(null)">
      <mat-icon aria-hidden="false" aria-label="Add icon" fontSet="fas" fontIcon="fa-plus" class="fa-plus"></mat-icon>
      <label class="pad-label">{{'BUTTON.ADD' | translate}}</label>
    </button>
  </div>
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- (matSortChange)="announceSortChange($event)"> -->
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id" class="nowrap">
          {{'ORDER.ID' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="center">{{element.id}}</td>
      </ng-container>

      <!-- createdDate Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by created date"
          class="nowrap">{{'ORDER.CREATEDDATE' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
      </ng-container>

      <!-- contract Column -->
      <ng-container matColumnDef="contract">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contract" class="nowrap">
          {{'ORDER.CONTRACT' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.contract}}</td>
      </ng-container>

      <!-- receivedDate Column -->
      <ng-container matColumnDef="receivedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by received date"
          class="nowrap">{{'ORDER.RECEIVEDDATE' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{element.receivedDate}}</td>
      </ng-container>

      <!-- deliveryAddress Column -->
      <ng-container matColumnDef="deliveryAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by deliveryAddress"
          class="nowrap">{{'ORDER.DELIVERY_ADDRESS' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.deliveryAddress}}</td>
      </ng-container>

      <!-- pickupAddress Column -->
      <ng-container matColumnDef="pickupAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pickupAddress"
          class="nowrap">{{'ORDER.PICKUP_ADDRESS' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.pickupAddress}}</td>
      </ng-container>

      <!-- product Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productName">
          {{'ORDER.PRODUCT' | translate}}</th>
        <td mat-cell class="wrap-text" *matCellDef="let element" class="nowrap">
          <span *ngFor="let i of element.products">{{i.name}}<br /></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity" class="nowrap">
          {{'ORDER.QUANTITY' | translate}} <br />(tấn)</th>
        <td mat-cell class="wrap-text center" *matCellDef="let element">
          <span *ngFor="let i of element.products">{{i.quantity}}<br /></span>
        </td>
      </ng-container>

      <!-- productTotal Column -->
      <ng-container matColumnDef="productTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productTotal"
          class="nowrap">{{'ORDER.TOTAL' | translate}} (tấn)</th>
        <td mat-cell *matCellDef="let element" class="center">{{element.productTotal}}</td>
      </ng-container>

      <!-- licensePlates Column -->
      <ng-container matColumnDef="licensePlates">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by license plates"
          class="nowrap">{{'ORDER.LICENSE_PLATE' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="center">{{element.licensePlates}}</td>
      </ng-container>

      <!-- driver Column -->
      <ng-container matColumnDef="driver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by driver" class="nowrap">
          {{'ORDER.DRIVER' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="nowrap">{{element.driver}}</td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status" class="nowrap">
          {{'ORDER.STATUS' | translate}}
        </th>
        <td mat-cell *matCellDef="let element"
          class="{{element.status === 1 ? 'color-black' : (element.status === 4 ? 'color-red' : 'color-green')}}">
          <mat-icon aria-hidden="false" aria-label="Confirm icon" fontSet="fas"
            fontIcon="{{(element.status === 1 || element.status === 2) ? 'fa-spinner' : (element.status === 4 ? 'fa-xmark' : 'fa-check')}}"
            class="status-icon"></mat-icon>
          <label class="pad-label">{{(element.status === 1 ? 'ORDER.STATUS_WAITING' : (element.status === 2 ?
            'ORDER.STATUS_RECEIVING' : (element.status === 3 ? 'ORDER.STATUS_RECEIVED' : 'ORDER.STATUS_CANCEL'))) |
            translate}}</label>
        </td>
      </ng-container>

      <!-- delete action Column -->
      <ng-container matColumnDef="deleteAction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <div class="center">
            <mat-icon aria-hidden="false" aria-label="Edit icon" fontSet="fas" fontIcon="fa-pen" class="fa-pen"
              (click)="onEdit(element)"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Print icon" fontSet="fas" fontIcon="fa-print" class="fa-print"
              (click)="onPrint(element)"></mat-icon>
            <!-- <mat-icon [hidden]="!isAdmin" aria-hidden="false" aria-label="Download icon" fontSet="fas" fontIcon="fa-download"
              class="fa-download" (click)="onDownloadPDF(element)"></mat-icon> -->
            <mat-icon [hidden]="!isAdmin" aria-hidden="false" aria-label="Trash icon" fontSet="fas" fontIcon="fa-trash"
              class="fa-trash" (click)="onDelete(element)"></mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr> -->
      <!-- <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr> -->
      <tr mat-row [class.row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <div class="action-export">
    <button class="btn-export" (click)="exportExcel()">
      <mat-icon aria-hidden="false" aria-label="Export icon" fontSet="fas" fontIcon="fa-download"
        class="fa-download"></mat-icon>
      <label class="pad-label">{{'BUTTON.DOWNLOAD' | translate}}</label>
    </button>
  </div>
</div>