<div class="container bg-white">
    <h2 class="header">Chi tiết đơn hàng</h2>
    <mat-dialog-content class="form-create shadow-md rounded px-8 pt-6 pb-8">
        <div class="mb-3 row field p-top">
            <span class="col-5 text-label" for="createdDate">
                Ngày tạo đơn
            </span>
            <input matInput [disabled]="true"
                class="col-5 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="createdDate" type="text" maxlength=15 [(ngModel)]="order.createdDate"
                [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="mb-3 row field p-top">
            <span class="col-5 text-label" for="contract">
                Hợp đồng
            </span>
            <input matInput [disabled]="true"
                class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="contract" type="text" [(ngModel)]="order.contract" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="deliveryAddress">
                Nơi nhận
            </span>
            <input matInput [disabled]="true"
                class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="deliveryAddress" type="text" [(ngModel)]="order.deliveryAddress"
                [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="pickupAddress">
                Nơi giao
            </span>
            <input matInput [disabled]="true"
                class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="pickupAddress" type="text" [(ngModel)]="order.pickupAddress"
                [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="products">
                Sản phẩm
            </span>
            <div class="col-7">
                <div *ngFor="let item of products">
                  <span class="col-4">{{item.productName}}</span>
                  <input matInput [disabled]="true"
                    class="col-3 margin appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="quantity" type="number" max=100 [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}"/>
                </div>
              </div>
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="productTotal">
                Tổng số lượng
            </span>
            <input matInput [disabled]="true"
                class="col-5 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="productTotal" [(ngModel)]="order.productTotal" [ngModelOptions]="{standalone: true}" />
            <span class="col-2 text-label">(tấn)</span>
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="transport">
                Phương tiện vận chuyển
            </span>
            <input matInput [disabled]="true"
                class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="transport" type="text" [(ngModel)]="order.transport" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="licensePlates">
                Số phương tiện
            </span>
            <input matInput [disabled]="true"
                class="col-5 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="licensePlates" [(ngModel)]="order.licensePlates" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="driver">
                Tên tài xế
            </span>
            <input matInput [disabled]="true"
                class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="driver" type="text" [(ngModel)]="order.driver" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="receivedDate">
                Ngày nhận
            </span>
            <input matInput [disabled]="true"
                class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="receivedDate" type="text" [(ngModel)]="order.receivedDate" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="note">
                Ghi chú
            </span>
            <textarea [disabled]="true"
                class="col-7 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="note" type="text" [(ngModel)]="order.note" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div class="mb-6 row field" [hidden]="(!isAdmin && !isUpdated) || order.status === 3">
            <span class="col-4 text-label" for="status">
                Trạng thái đơn
            </span>
            <mat-radio-group class="col-8" [(ngModel)]="selectedStatus">
                <mat-radio-button *ngFor="let item of status" [value]="item">
                    {{item.label}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" [hidden]="data.status === 3 ? true : ((data.status === 2 && !isAdmin) ? true : false)"
            class="btn-save py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
            (click)="onSubmit()">{{order.status !== 1 ? 'Lưu' : 'Đặt hàng'}}</button>
        <button mat-button mat-dialog-close
            class="btn-cancel py-2 px-4 rounded focus:outline-none focus:shadow-outline">{{order.status === 2 || order.status === 3 ? 'Đóng' : 'Hủy bỏ'}}</button>
    </mat-dialog-actions>
</div>