.container {
    padding: 1.5rem;
    margin: 0 !important;
    min-width: 82vh;

    .header {
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .require {
        color: red;
        margin-left: 0.25rem;
    }

    .btn-container {
        text-align: right;

        .btn-save {
            width: 7rem;
            min-width: 7rem;
            color: white;
            background-color: royalblue;
            border-color: royalblue;
            margin-left: 2rem;
        }

        .btn-cancel {
            width: 7rem;
            min-width: 7rem;
            color: black;
            background-color: #dadada;
            border-color: #dadada;
        }

    }

    .text-label {
        text-align: left;
        align-self: center;
        font-weight: 500;
        padding-left: 1rem;
    }

}